
.home_about-left {
  --grad-angle: 45deg;
  background-image: linear-gradient(var(--grad-angle), #59adc6, #fff 69%);
}

.section_home-service {
  pointer-events: none;
}

.home_service-text,
.service_button-wrapper {
  pointer-events: auto;
}

.home_about-left {
    z-index: 0 !important; 
}

.home_service-text:hover{
    color: #2b5460;
    cursor: pointer;
}

html{
  scrollbar-width: none;
}



 .hero-letter {
   opacity: 0;
   
 }


 .hero-letter.animate {
   animation: heroLetterUp 1s cubic-bezier(0.16, 1, 0.3, 1) forwards;
 }


 .hl1.animate { animation-delay: 0s; }
.hl2.animate { animation-delay: 0.15s; }
.hl3.animate { animation-delay: 0.3s; }
.hl4.animate { animation-delay: 0.45s; }
.hl5.animate { animation-delay: 0.6s; }
.hl6.animate { animation-delay: 0.75s; }
.hl7.animate { animation-delay: 0.9s; }


 @keyframes heroLetterUp {
   to {
     opacity: 1;
     
   }
 }



 .hero-word {
   display: inline-block;
   opacity: 0;
   
 }


 .hero-word.animate {
   animation: heroWordUp 1s cubic-bezier(0.16, 1, 0.3, 1) forwards;
 }


.hw1.animate { animation-delay: 0s; }
.hw2.animate { animation-delay: 0.2s; }
.hw3.animate { animation-delay: 0.3s; }
.hw4.animate { animation-delay: 0.45s; }
.hw5.animate { animation-delay: 0.6s; }


 @keyframes heroWordUp {
   to {
     opacity: 1;
     
   }
 }


