
.home_about-left {
  --grad-angle: 45deg;
  background-image: linear-gradient(var(--grad-angle), #59adc6, #fff 69%);
}

.section_home-service {
  pointer-events: none;
}

.home_service-text,
.service_button-wrapper {
  pointer-events: auto;
}

.home_about-left {
    z-index: 0 !important; 
}

.home_service-text:hover{
    color: #2b5460;
    cursor: pointer;
}

html{
  scrollbar-width: none;
}



 .hero-letter {
   opacity: 0;
   
 }


 .hero-letter.animate {
   animation: heroLetterUp 2s ease-out forwards;
 }


 .hl1.animate { animation-delay: 0s; }
 .hl2.animate { animation-delay: 0.1s; }
 .hl3.animate { animation-delay: 0.2s; }
 .hl4.animate { animation-delay: 0.3s; }
 .hl5.animate { animation-delay: 0.4s; }
 .hl6.animate { animation-delay: 0.5s; }
 .hl7.animate { animation-delay: 0.6s; }


 @keyframes heroLetterUp {
   to {
     opacity: 1;
     
   }
 }



 .hero-word {
   display: inline-block;
   opacity: 0;
   
 }


 .hero-word.animate {
   animation: heroWordUp 2s ease-out forwards;
 }


 .hw1.animate { animation-delay: 0s; }
 .hw2.animate { animation-delay: 0.1s; }
.hw3.animate { animation-delay: 0.2s; }
.hw4.animate { animation-delay: 0.3s; }
.hw5.animate { animation-delay: 0.4s; }


 @keyframes heroWordUp {
   to {
     opacity: 1;
     
   }
 }


